body { 
    background-color: rgba(4, 59, 7, 0); /*light gray background */
    font-family: Arial, Arial, Helvetica, sans-serif; /*font family*/
    font-size: 18px; /*font size*/
}
h1 {
    color: #00698f; /*blue heading color*/5
    font-size: 36px; /*heading font size*/
}
a {
    text-decoration: none; /*remove underline from links*/
    color: #008000; /*green link color*/
}
a:hover {
    color: #00b300;
}